.linked-list {
  --color-node-idle-surface: hsl(0, 0%, 90%);
  --color-node-idle-text: hsl(0, 0%, 10%);
  --color-node-selected-surface: var(--color-primary);
  --color-node-selected-text: var(--color-primary-opposite);
  --color-node-visited-surface: var(--color-surface-disabled);
  --color-node-visited-text: var(--color-text-disabled);

  --color-edge-idle: hsl(0, 0%, 90%);
  --color-edge-selected: var(--color-primary);
  --color-edge-visited: var(--color-surface-disabled);

  --color-arrow-idle: hsl(0, 0%, 90%);
  --color-arrow-selected: var(--color-primary);
  --color-arrow-visited: var(--color-surface-disabled);
}
