.arrow {
  fill: hsl(0, 0%, 90%);

  &.primary {
    fill: var(--color-primary);
  }

  &.success {
    fill: var(--color-success);
  }

  &.warning {
    fill: var(--color-warning);
  }

  &.danger {
    fill: var(--color-danger);
  }

  &.disabled {
    fill: var(--color-surface-disabled);
  }
}
