.node {
  --color: var(--color-text-400);

  font-family: monospace;

  .title {
    .box {
      fill: var(--color);
      stroke: var(--color);

      transition: 0.3s ease-out;
      transition-property: fill, stroke;
    }

    .text {
      fill: var(--color-surface-200);
    }
  }

  .statement {
    .box {
      fill: var(--color-surface-200);
      stroke: var(--color);

      transition: fill 0.3s ease-out;
    }

    .text {
      fill: var(--color-text-400);
    }
  }

  &.success {
    --color: var(--color-success);
  }

  &.warning {
    --color: var(--color-warning);
  }
}
