.node {
  font-family: monospace;

  .title {
    .box {
      fill: var(--color-text-400);
      stroke: var(--color-text-400);
    }

    .text {
      fill: var(--color-surface-200);
    }
  }

  .statement {
    .box {
      fill: var(--color-surface-200);
      stroke: var(--color-text-400);
    }

    .text {
      fill: var(--color-text-400);
    }
  }
}
