.node {
  --color: var(--color-text-400);

  font-family: monospace;

  .title {
    .box {
      fill: var(--color);
      stroke: var(--color);
    }

    .text {
      fill: var(--color-surface-200);
    }
  }

  .statement {
    .box {
      fill: var(--color-surface-200);
      stroke: var(--color);
    }

    .text {
      fill: var(--color-text-400);
    }
  }

  &.success {
    --color: var(--color-success);
  }

  &.warning {
    --color: var(--color-warning);
  }
}
