.pointer {
  --color: hsl(0, 0%, 90%);

  --color-edge: var(--color);
  --color-weight: var(--color);
  --marker: url(#marker-arrow-default);

  .node {
    .title {
      .box {
        fill: transparent;

        transition: 0.3s ease-out;
        transition-property: fill, stroke;
      }

      .text {
        fill: var(--color-text-400);
        alignment-baseline: center;
        text-anchor: middle;

        font-size: 1.25rem;
      }
    }
  }
}
