.log {
  min-block-size: 100%;
  block-size: 37.5rem;

  .records {
    display: grid;

    > li {
      padding: 0.5rem;

      border-radius: var(--border-radius);

      cursor: pointer;

      &:hover {
        background-color: var(--color-surface-300);
      }

      &.active {
        background-color: var(--color-primary-fade);
      }
    }
  }
}
