.node {
  --color: hsl(0, 0%, 90%);
  --color-opposite: hsl(0, 0%, 10%);

  .circle {
    fill: var(--color);
  }

  .title {
    fill: var(--color-opposite);
    alignment-baseline: central;
    text-anchor: middle;
  }

  .weight {
    fill: var(--color);
    font-weight: bold;
    alignment-baseline: central;
    text-anchor: start;
  }

  &.primary {
    --color: var(--color-primary);
    --color-opposite: var(--color-primary-opposite);
  }

  &.success {
    --color: var(--color-success);
    --color-opposite: var(--color-success-opposite);
  }

  &.warning {
    --color: var(--color-warning);
    --color-opposite: var(--color-warning-opposite);
  }

  &.danger {
    --color: var(--color-danger);
    --color-opposite: var(--color-danger-opposite);
  }

  &.disabled {
    --color: var(--color-surface-disabled);
    --color-opposite: var(--color-text-disabled);
  }
}
