.board {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 20rem;
  gap: 1rem;

  > * {
    overflow: auto;

    padding: 0.5rem;

    border: 1px solid var(--color-primary-fade);
    border-radius: var(--border-radius);
  }
}
