.board {
  display: grid;
  gap: 1rem;

  > * {
    overflow: auto;

    padding: 0.5rem;

    border: 1px solid var(--color-primary-fade);
    border-radius: var(--border-radius);
  }

  &.one-one {
    grid-template-columns: minmax(0, 1fr) 20rem;
  }

  &.two-one {
    grid-template-columns: minmax(0, 1fr) 20rem;

    > :nth-child(3n) {
      grid-column: 2 / -1;
      grid-row: 1 / 3;
    }
  }
}
