.problem {
  display: grid;
  grid-template-areas: "heading stepper" "content content";
  grid-template-columns: 1fr auto;
  gap: 1rem;

  h1 {
    grid-area: heading;

    a {
      display: inline-block;

      margin-inline-start: 0.5rem;

      transform: translateY(0.25rem);
    }
  }

  .stepper {
    grid-area: stepper;
  }

  .content {
    grid-area: content;
  }
}
