.array {
  display: grid;
  place-content: center;

  .items {
    display: flex;
    align-items: start;
    gap: 0.5rem;

    > li {
      position: relative;

      display: grid;
      justify-items: center;

      .value {
        background-color: var(--color-surface-300);

        display: grid;
        place-content: center;

        min-inline-size: 2.5rem;
        block-size: 2.5rem;

        padding-inline: 0.5rem;

        border: 1px solid var(--color-primary);
        border-radius: var(--border-radius);
      }

      .pointers {
        position: absolute;
        inset-block-end: 0;
        inset-inline-start: 50%;

        display: grid;

        transform: translate(-50%, calc(100% + 0.5rem));

        .pointer {
          .content {
            display: grid;
            justify-items: center;
            gap: 0.25rem;

            inline-size: max-content;
          }
        }
      }

      &.primary {
        .value {
          background-color: var(--color-primary);
          color: var(--color-primary-opposite);

          border-color: var(--color-primary);
        }
      }

      &.success {
        .value {
          background-color: var(--color-success);
          color: var(--color-success-opposite);

          border-color: var(--color-success);
        }
      }

      &.danger {
        .value {
          background-color: var(--color-danger);
          color: var(--color-danger-opposite);

          border-color: var(--color-danger);
        }
      }

      &.disabled {
        .value {
          background-color: var(--color-surface-disabled);
          color: var(--color-text-disabled);

          border-color: var(--color-surface-disabled);
        }
      }
    }
  }
}
